body {
    margin: 0 auto;
}

.buildings {
   display:none;
}
.factorylevel {
    display: none;
}
.factoryworkers {
    display: none;
}
.buyworkers {
    display: none;
}
.casino {
    display: none;
}
.cookiediv {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 100px;
}
.cookie {
    font-size: 150px;
    margin: 0px auto;
}
.notification {
    font-family: Arial, Helvetica, sans-serif;
}
